<!DOCTYPE html>
<html>
<head><title>Dashboard</title></head>
<body>
  <h1>Hello, <%= user.name %></h1>
  <p>Email: <%= user.email %></p>
  <img src="<%= user.profile_picture_url %>" width="100" />
  <br/><a href="/logout">Logout</a>
</body>
</html>